<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CrunchifySpringMVCTutorial</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>webApp</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>webApp</servlet-name>
    <url-pattern>/webApp/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>expled_json</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
   <servlet>
    <servlet-name>expled_file</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>expled_json</servlet-name>
    <url-pattern>/json/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>expled_file</servlet-name>
        <url-pattern>/file/*</url-pattern>
</servlet-mapping>
  <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>lib.db.UploadFile</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
</servlet-mapping>

  <servlet>
        <servlet-name>UploadFilePermisoSinGoce</servlet-name>
        <servlet-class>lib.db.UploadFilePermisoSinGoce</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>UploadFilePermisoSinGoce</servlet-name>
        <url-pattern>/UploadFilePermisoSinGoce</url-pattern>
</servlet-mapping>
  <servlet>
        <servlet-name>UploadFileLicencia</servlet-name>
        <servlet-class>lib.db.UploadFileLicencia</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>UploadFileLicencia</servlet-name>
        <url-pattern>/UploadFileLicencia</url-pattern>
</servlet-mapping>
  <servlet>
        <servlet-name>UploadFileIncidencia</servlet-name>
        <servlet-class>lib.db.UploadFileIncidencia</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>UploadFileIncidencia</servlet-name>
        <url-pattern>/UploadFileIncidencia</url-pattern>
</servlet-mapping>

 <servlet>
        <servlet-name>UploadExcelHoraAsistencia</servlet-name>
        <servlet-class>lib.db.UploadExcelHoraAsistencia</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>UploadExcelHoraAsistencia</servlet-name>
        <url-pattern>/UploadExcelHoraAsistencia</url-pattern>
</servlet-mapping>

 <servlet>
        <servlet-name>UploadExcelDiasFalta</servlet-name>
        <servlet-class>lib.db.UploadExcelDiasFalta</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>UploadExcelDiasFalta</servlet-name>
        <url-pattern>/UploadExcelDiasFalta</url-pattern>
</servlet-mapping>

 <servlet>
        <servlet-name>UploadExcelAnticipos</servlet-name>
        <servlet-class>lib.db.UploadExcelAnticipos</servlet-class>
</servlet>
<servlet-mapping>
        <servlet-name>UploadExcelAnticipos</servlet-name>
        <url-pattern>/UploadExcelAnticipos</url-pattern>
</servlet-mapping>

</web-app>